<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Todo</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<h1 class="text-2xl font-bold mb-4">Edit Todo</h1>

<form th:action="@{/todo/edit/{id}(id=${todo.id})}" th:object="${todo}" method="post">
    <input type="hidden" th:name="_method" th:value="put" />
    <input type="hidden" th:name="id" th:value="*{id}" />
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="task">Task</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
               id="task" type="text" placeholder="Enter task" name="task" required th:value="*{task}">
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="description">Description</label>
        <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="description" placeholder="Enter description" name="description" required th:text="*{description}"></textarea>
    </div>
    <div class="mb-4">
        <label class="ml-2" for="isDone">IsDone</label>
        <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600" id="isDone" name="isDone" th:checked="*{isDone}">
    </div>


    <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Update Todo
        </button>
        <a href="/todo" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Cancel</a>
    </div>
</form>


</body>
</html>
